.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both
}

.clearfix {
    zoom: 1
}

.admin-started * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.admin-started {
    max-width: 1200px;
    overflow: hidden;
}

.admin-started .panel {
    display: inline-block;
    width: 100%;
    padding: 2%;
    background: #fff;
    font-size: 16px;
    animation: smoothFade .3s;
    -moz-animation: smoothFade .3s;
    -webkit-animation: smoothFade .3s;
    -o-animation: smoothFade .3s;
    border: 1px solid #E6E6E6;
    border-top: none;
}

@keyframes smoothFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes smoothFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.admin-started .panel p {
    font-size: 16px;
    line-height: 1.6;
    color: #545454;
    margin-top: 20px;
    margin-bottom: 0;
}

.admin-started .panel p a {
    color: #13aff0;
    border-bottom: 1px dotted #f8478d;
}

.admin-started .panel p a:hover {
    border-bottom-color: transparent;
}

.admin-started .panel a {
    text-decoration: none;
}

.admin-started .panel a:focus,
.admin-started .panel a:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.admin-started .panel a.button,
.admin-started input.button-primary {
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    font-weight: 600;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 14px;
    line-height: 1.5;
}

.admin-started .panel-aside p + a.button {
    margin-top: 20px;
}

.admin-started .panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.admin-started .panel-aside {
    padding: 16px;
    background: #F8F8F8;
    margin-right: 3%;
    margin-bottom: 32px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 31.333%;
    -ms-flex: 1 1 31.333%;
    flex: 1 1 31.333%;
}

@media only screen and (max-width:768px) {
    .admin-started .panel {
        margin-top: 32px;
    }

    .admin-started .panel-aside {
        margin-right: 0;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
}

.admin-started .panel-aside:last-child {
    margin-right: 0;
}

.admin-started .panel-aside h4 {
    margin-top: 0;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-weight: 700;
    color: #202020;
}

.intro {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    float: left;
    padding: 2% 0 0 0;
}

.intro h3 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #202020;
}

.intro p {
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    margin-bottom: 30px;
}
